---
// styles
import "../../styles/sections-style/HomePage/HeroSlider.scss";
// utils, images
import { sliderImages, slug } from "../../utils/utils";
import { marketplace } from "../../utils/routes";
---

<section class="Hero">
    <h1>Antique NFT market</h1>
    <swiper-container
        class="mySwiper Hero"
        autoplay-delay="2500"
        centered-slides="true"
    >
        {
            sliderImages.map((img) => (
                <swiper-slide class="swiper-slide">
                    <a href={marketplace.nfts + slug(img.alt)}>
                        <img
                            src={img.path}
                            alt={img.alt}
                            width={img.width}
                            height={img.height}
                        />
                    </a>
                    <p>{img.alt}</p>
                    <b>0.98 Eth</b>
                </swiper-slide>
            ))
        }
    </swiper-container>
</section>

<script>
    let swiperEl = document.querySelector(".mySwiper.Hero");

    Object.assign(swiperEl, {
        breakpoints: {
            320: {
                slidesPerView: 1,
                spaceBetween: 10,
            },
            450: {
                slidesPerView: 2,
                spaceBetween: 20,
            },
            768: {
                slidesPerView: 3,
                spaceBetween: 30,
            },
        },
    });
</script>
