---
// types
import { NftComponentProps } from "../utils/types";
// routes
import { marketplace } from "../utils/routes";
// utils
import { slug } from "../utils/utils";
// props
const { nft } = Astro.props as NftComponentProps;
// styles
import "../styles/components-style/Nft.scss";
---

<div class="Nft">
    <a href={marketplace.nfts + slug(nft.alt)}>
        <img
            src={nft.path}
            alt={nft.alt}
            width={nft.width}
            height={nft.height}
        />
    </a>
    <p>{nft.alt}</p>
    <b>0.98 Eth</b>
</div>
